<div id="<%= dom_id notification %>">
  <p>
    <strong>Title:</strong>
    <%= notification.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= notification.body %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= notification.status %>
  </p>

</div>
