<div>
  <%= image_tag(get_gravatar_url(user.email)) %>
  <%= link_to name(user), user %>
  <% unless current_user.friends.include?(user) %>
    <%= render "friend_requests/add_friend", recipient: user %>
  <% end %>
</div>