<div>
  <%= image_tag(get_gravatar_url(user.email, 80)) %>
  <%= link_to name(user), user %>
  <% if user != current_user %>
    <%= render choose_friend_action(user, current_user), other_user: user %>
  <% end %>
</div>