<div id="<%= dom_id friend_request %>">
  <p>
    <strong>Sender:</strong>
    <%= friend_request.sender_id %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= friend_request.recipient_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= friend_request.status %>
  </p>

</div>
